

html ,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    color: #565a5c;
}


p{
    margin: 0;
    color: #999;
    font-size: 4.5vw;

}

ul, ol{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 6vw;
}


#header{
    padding: 10px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.title h1{
    font-size: 7vw;
    text-align: center;
    padding: 20px;

}



#title-text p{
    font-size: 4.5vw;
    padding: 10px;
    text-align: left;
    word-spacing: 5px;
    line-height: 1.6em;
}





#links ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #999;
    cursor: pointer;
    display: block;

}


#links ul li a{
    font-size: 4.5vw;
    color: #999;

}





/*///////////////////////////////////////////////////////////////////
                                Mockup 2
///////////////////////////////////////////////////////////////////*/




.steps p{
    font-size: 4.5vw;
    padding:  20px 0;
}





/*///////////////////////////////////////////////////////////////////
                                Mockup 3
///////////////////////////////////////////////////////////////////*/


#about-product{
    padding: 40px;
}



#about-product h2{
    font-size: 6vw;
    padding: 40px 0;
}




.f-24{
    font-size: 24px;
}


.navbar-default .navbar-toggle{
    border-color: transparent!important;
}



.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent!important;
}




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #bfc2bb;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
